<footer id="footer" class="footer hidden">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              {% load static %}
              <img src="{% static 'images/logo/logo-5.png' %}" alt="Logomarca">
            </a>
            <p>Quer ficar por dentro de todas as novidades inovação, exclusivas e conteúdos incríveis? Então não perca tempo e siga-nos nas redes sociais!</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="index.html #">Sobre nós</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#main-News">Notícias</a></li>              
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i>Noticias</li>
              <li><i class="bi bi-chevron-right"></i>Galeria de fotos</li>
              <li><i class="bi bi-chevron-right"></i>Legislações</li>
             
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>CONTATE-NOS</h4>
            <p>
              Rua dos .....<br>Brasil, Nº 53<br>Gramame<br><br>
              <span class="fw-bold">Contato: </span>+55 (83) 98888-8888<br>
              <span class="fw-bold">Email: </span>fabrica@unipe.br<br>
            </p>
          </div>
        </div>
      </div>
    </div> 
  </footer>