<section id="main-section" class=" main-section d-flex align-items-center hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1> Descubra a inovação que está transformando o futuro </h1>
        <h2> Explore agora e mergulhe em um mundo de possibilidades </h2>
        <div >
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>ACESSE O SITE</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 main-section-img">
        {% load static %}
        <img src="{% static '/images/logo/logo-5.png' %}" class="img-fluid"  alt="Imagem Topo"/>
      </div>
    </div>
  </div>
</section>
